body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('./img/fondo3.jpg'); 
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
  }
  .Contadordias {
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); 
  }
  button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    border: none;
    background-color: #ff0800d5;
    color: #fff;
  }
